@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4Z4t0mJKPaLVqklzZuc32b4.woff) format('woff');
}

h1,h2,h3,h4,p,a,li {
    font-family: 'PT Sans Narrow' !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #62705a !important;
    margin-bottom:60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}


.ptsans {
    font-family: "PT Sans Narrow" !important;
}

#maincontainer {
    background: #ecf8e5;
    min-height: 500px;
    padding-top:15px;
    padding-bottom:30px;
}

a:hover, a:visited{
    text-decoration: none !important;
}

#navbar li.dropdown>a.dropdown-toggle {
    float:left; z-index:5000;
}

#navbar li.active>a {
    background:#337ab7;
}

#navbar li.dropdown>ul a {
    background: #738369;/*#91a586*/
}


#topmenu {
    background: #62705a;
}

#topmenu a {
    color:#ecf8e5;

}
#topmenu .navbar-toggle span {
    background-color:#ecf8e5 !important;
}
#topmenu .navbar-toggle i {
    color:#ecf8e5 !important;
    font-size: 1.5em;
}
#topmenu .navbar-toggle {
    float:left; margin-right: 0px;
}

#hcata {
    padding-left:0px; padding-right: 0px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'PT Sans Narrow';
}
#hcompanyname {
    font-size:1.5em;
    font-weight:bold;
    padding: 13px 0px ;
}
#topmenu #barrrs.navbar-toggle {
    padding: 6px 6px;
    margin-top: 7px;
}

#hcompa{
    float:right;
    padding:4px 5px;
    margin-right: 8px;
}
#hcompany.navbar-brand{
    float:right;
    padding:4px 5px;
    margin-right: 2px;
    margin-top:12px;
    height:auto;
}
#topmenu a#hcomname {
    font-size: 1.4em;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
}
#topmenu a#hphon {
    font-size:0.9em;
    font-weight: bold;
    font-family: 'PT Sans Narrow';
    color: #ff8377;
}
#topmenu a#hphone {
    font-size:1.3em;
    letter-spacing: -2px;
    font-weight: bold;
    font-family: 'PT Sans Narrow';
    color: #ff8377;
}



.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
.nav>li>a:focus, .nav>li>a:hover {
    background: transparent !important;
}



#ffoot {
    background:#192313;
    z-index: 9999;
}
#fffoot {
   padding-top:7px !important;
}
#ffoot a, #ffoot span {
    color:#ecf8e5;
}
#ffoot>div>div{
    padding: 0px;
}
.bastop{
    font-size:0.9em;
}
.basbott{
    font-size:1.5em;
}
#ffoot span#bbask {
    font-size:2.5em;
    color:#ff8377;
}
#tobasket, #bbask {
    margin-top:5px;
    font-size: 1.1em;
}


#search {
    margin:10px 0px;
}

#search .btn {
    background:#3bc915;
    color:white;
    font-weight: bold;
}

.bx-input-group.container {
    padding: 0px;
}
#title-search-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right:0;
}
#title-search-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left:0;
}

#phonenum-button{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right:0;
    font-size:1.5em; padding:0px 12px;
}
#phonenum-input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left:0;
    font-size:1.3em;
}

#search {
    margin-bottom:20px;
}
#search .bx-input-group-btn button {
    margin-left: -5px;
}

.lefty{
    float:left;
}
.righty{
    float:right;
}
.margn-lr-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.padd-5 {
    padding:5px;
}
.nopad{
    padding:0px !important;
}
.greentext{
    color:#3bc915 !important;
}
.lightgreentext{
    color: #adfea9 !important;
}

.darkgreentext {
    color:#5e8054 !important;
}

.darkbluetext {
    color: #3480bb !important;
}

#logotop{
    width:50px;
    position: absolute;
    left:50%; margin-left:-28px;
}
.h2eader {
    font-weight:bold;
}
.proditem.thumbnail {
    background: #FFCE7C;/*#FFA87C;*/
}

.prodprice{
    margin-top:0px;
    font-weight:bold;
}
.prodquant.form-control {
    font-size: 1.25em;
    font-weight: bold;
}
.prodquant2.form-control {
    font-size: 1.5em;
    font-weight: bold;
    padding:22px 10px;
}

.buybutton2 button {
    font-size:1.5em;
    font-weight:bold;
}

.detbutton>i.fa-spinner {
    font-size: 1em !important;
}

.proditem button.buybutton {
    margin-top: 10px;
    font-size:1.25em;
    font-weight: bold;
}

#topphone {
    margin-right: -45px;
}
#basketico {
    height:45px;
}

.proditem button.buybutton i{
    font-size:1.25em;
}
.prodquantity{
    margin-top:15px;
}
.text-bold {
    font-weight:bold;
}
.margn-bot-10 {
    margin-bottom:10px !important;
}
.margn-bot-20 {
    margin-bottom:20px !important;
}
.nomargin {
    margin:0 !important;
}

.thumbnail {
    background-color: rgba(116, 192, 201, 0.11) !important;
}

.prodtableitem {
    font-size:0.8em;
}

.number-spinner-vert>*{
    display:block !important;
    float:none !important;
    margin-top: 0!important;
}
.number-spinner-vert>.prodquant {
    padding:6px !important;
}
.number-spinner-vert>span{
    width:100% !important;
}
.number-spinner-vert .btnplus {
    border-radius: 4px 4px 0px 0px !important;
}
.number-spinner-vert .btnminus {
    border-radius: 0px 0px 4px 4px !important;
    margin-left: 0 !important;
}

.prodtableitem2 {
    font-size:1.4em;
    margin-bottom: 5px !important;
}
.prodtableitem2 div{
    padding:8px;
}
.itemcharvalue {
    background: #3480bb;
    color: #f3fefb;
}


/*==============*/
/*Desktop styles*/

#hbigphone {
    font-size:2.5em;
    font-weight: bold;
    letter-spacing: -2px;
}

.text-red{
    color: #eb302a !important;
}
.text-italic{
    font-style: italic;
}
p{
    font-size:1.2em;
}


.prodphotosmall {
    height:180px !important;
}
.prodphotoverysmall {
    height:100px !important;
}
.prodtitle{
    height:45px !important;
}



@media only screen and (max-device-width : 480px){
    .nopod-smxs { padding-left:0 !important; padding-right:0 !important; }
    .nopad-left-smxs { padding-left:0 !important; }
    .text-center-smxs { text-align: center !important;}
}
@media only screen and (min-device-width : 641px){
    .nopod-mdlg { padding-left:0 !important; padding-right:0 !important; }
    .nopad-left-mdlg { padding-left:0 !important; }
    .text-center-mdlg { text-align: center !important;}
}

.nopad-left{
    padding-left:0 !important;
}


/*SIDE MENU*/
.sidemenu {
    margin-left:-15px;
    margin-right: 15px;
}
.sidemenu a {
    font-size: 1.2em;
    line-height:1em;
}
.sidemenu ul.maintree>li>label>a {
    font-size: 1.3em;
    line-height:1.3em;
}
.sidemenu .well {
    padding-left:30px;
}
.sidemenu .sideheader {
    padding-left:30px;
}

.sidemenu .well label {
    font-family: 'PT Sans Narrow';
 }
.sidemenu .well label>b {
    font-size: 1.3em;
    line-height:1.3em;
    color: #225280;
}
.sidemenu .well label a {
    font-weight:normal;
}
.sidemenu .well label a{
    cursor: default;
}
.sidemenu .well label i{
    margin-top:-5px;
    cursor: pointer;
    color:#5e8054;
}

.sidemenu .well ul ul li>b {
    font-family: 'PT Sans Narrow';
    display: block;
    font-size: 1.2em;
    line-height:1em;
    color: #225280;
    padding:10px 15px;
}

ul.bxe-lis-blue {
    list-style-type: none;
    font-style:italic;
    padding-left:10px;
}
ul.bxe-lis-blue i {
    color: #225280;
}

.p12{
    font-size:1.2em;
}
.p13{
    font-size:1.3em;
}


/*PopUps*/

.cartpopup{
    position:absolute;
    font-size:1em;
    color:white;
    padding:5px 15px;
    margin-top:-70px;
    display: block;
}
.addedtocart{
    /*background: rgb(49, 71, 99); /*#2D2D2D;*/
    background: #449c31;
    margin-left:-3px;
    z-index:10;
}
.notaddedtocart{
    background: #d12205;
    margin-left:-5px;
    padding:5px 12px !important;
}

.addedtocart2 {
    margin-left:4px !important;
}

.notaddedtocart2 {
    margin-left:4px !important;;
}
